<footer class="container-fluid">
    <div class="container">
        <div class="row py-3">
            <div class="col-4 d-flex align-items-center">
                <i class="fab mx-1 fa-2x fa-facebook-square"></i>
                <i class="fab mx-1 fa-2x fa-instagram-square"></i>
                <i class="fab mx-1 fa-2x fa-twitter-square"></i>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-center">
                Copyrights@2021Sumerge
            </div>
            <!--<div class="col-4 d-flex align-items-center justify-content-end">
                <app-searchbox></app-searchbox>
            </div>-->
        </div>
    </div>
</footer>
